body {
    margin: 0;
    background-color: #222436;
    color: #dfe2ed;
    font-family: monospace;
    width: 100%;
}

a:link {
    color: rgb(45, 192, 218);
}

a:visited {
    color: rgb(34, 158, 180);
}

a:hover {
    color: rgb(219, 80, 150);
}

a:active {
    color: rgb(23, 106, 121);
}

h1 {
    margin-top: 24px;
    margin-right: 48px;
}

main {
    margin: 0 48px;
    margin-bottom: 48px;
}

.code {
    border-radius: 4px;
}

p {
    font-size: 1rem;
    text-align: justify;
}

ul,
li {
    font-size: 1rem;
}

.ml {
    margin-left: 48px;
}

video {
    width: 100%;
}

@media (max-width: 640px) {
    .ml {
        margin-left: 12px;
    }

    main {
        margin: 0 24px;
    }

}